<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="wrapper">
        <header>
            <div>Logo place</div>
        </header>
        <div id="main_body">
            <p>Задача №<span id="task_number" style="font-size: 23px">{{ n }}</span></p>
            <div id="text-container">
                <div id="text">{{ text }}</div>
                <div id="task"><div class="task_text">{{ task }}</div></div>
            </div>
            <div id="button-container" style="margin-bottom: 3vh;">
                <a href="#" id="record" class="butt"><div>Запись</div></a>
                <a href="#" id="pause" class="butt dp-none"><div style="position: absolute; max-width: 40%; display: flex; gap: 6px; justify-content: space-between"><div class="vpalka"></div><div class="vpalka"></div></div></a>
                <a href="#" id="send" class="butt dp-none"><div>Отправить</div></a>

                {% if text == "Заданий больше нет" %}
                    <a href="#" id="skip" class="butt"><div>К началу</div></a>
                {% else %}
                    <a href="#" id="skip" class="butt"><div>Пропустить</div></a>
                {% endif %}
            </div>
            <div id="audio-block"></div>
            <p>Ваш аккаунт - <span id="account" style="font-size: 23px">{{ uname }}</span></p>
            <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        </div>
    </div>
</body>
</html>
